.product-details-container {
    display: flex;
  }
  
  .product-details-content {
    padding: 24px 64px 48px 64px;
    width: 100%;
    background-color: #FDFDFD;
  }
  .product-details-content h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .product-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .product-details-image {
    width: 373px;
    height: 373px;
    border-radius: 16px;
  }
.product-info {
    width: 100%;
}
.product-info p {
    font-size: 60px;
    font-weight: 600;
}
.product-info span {
    font-size: 40px;
    font-weight: 500;
    color: #8080808C;
}
.product-info .info1 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.product-info .info2 {
    text-align: center;
    margin-top: 45px;
}
@media (max-width:14390px) {
  .product-info .info1 {
    text-align: center;
    font-size: 40px;
  }
  .product-info .info2 {
    margin-top: 8px;
  }
  .product-info p {
    font-size: 40px;
  }
  .product-details-content {
    padding: 30px ;
  }
  .product-details-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .product-details-image {
    width: 270px;
    height: 270px;
  }
  .product-info span {
    font-size: 30px;
  }
  .product-info .info1 {
    margin-top: 20px;
  }
}
@media(max-width:992px) {
  .product-info p {
    font-size: 25px;
  }
  .product-info span {
    font-size: 18px;
  }
}
@media(max-width:768px) {
  .product-info .info1 {
    flex-direction: column;
  }
  .product-details-image {
    width: 230px;
    height: 230px;
}
.product-details-content h1 {
  font-size: 25px;
}
}
@media(max-width:576px) {
  .product-details-image {
    width: 100%;

  }
  .product-details-content {
    padding: 20px;
  }
}